<ul class="notification-bar list-inline pull-right">
    <li class="visible-lg"><a href="javascript:;" role="button" class="header-icon fullscreen-toggle"><i class="ti-fullscreen"></i></a></li>
    <li><a href="logout" role="button" class="header-icon"><i class="ti-power-off"></i></a></li>
</ul>