<aside data-mcs-theme="minimal-dark" style="background-image: url(images/backgrounds/11.jpg)" class="main-sidebar closed mCustomScrollbar">
    <div class="user">
        <div id="esp-user-profile" data-percent="65" style="height: 130px; width: 130px; line-height: 100px; padding: 15px;" class="easy-pie-chart"><img src="images/users/04.jpg" alt="" class="avatar img-circle"><span class="status bg-success"></span></div>
        <h4 class="fs-16 text-muted mt-15 mb-5 fw-300">{{name}}</h4>
        <p class="fs-13 mb-0 text-muted">{{role}}</p>
    </div>
    <ul class="list-unstyled navigation mb-0">
        <li class="sidebar-header pt-0">Principal</li>
        <li><a href="/dashboard" class="active bubble"><i class="ti-dashboard"></i> Painel</a></li>
        <li><a href="index1.html" class="collapsed"><i class="ti-user"></i> Perfil</a></li>
        <li><a href="/team" class="collapsed"><i class="ti-home"></i> Equipa</a></li>
        <li class="sidebar-header">Productos</li>
        <li class="panel"><a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse5" aria-expanded="false" aria-controls="collapse5" class="collapsed"><i class="ti-receipt"></i> Stock</a>
        <ul id="collapse5" class="list-unstyled collapse">
            <li><a href="/newproduct">Novo Producto</a></li>
            <li><a href="/products">Lista de Productos</a></li>
        </ul>
        </li>
        <li class="panel"><a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse6" aria-expanded="false" aria-controls="collapse6" class="collapsed"><i class="ti-bar-chat"></i> Estatisticas</a>
        <ul id="collapse6" class="list-unstyled collapse">
            <li><a href="summernote.html">Analise de Inventorio</a></li>
        </ul>
        </li>
        <li class="sidebar-header">Vendas</li>
        <li><a href="index5.html" class="collapsed"><i class="ti-user"></i> Completas</a></li>
        
        <li class="sidebar-header">Pagamentos</li>
        <li><a href="index5.html" class="collapsed"><i class="ti-user"></i> Gerir Pagamentos</a></li>

        <li class="sidebar-header">Definições</li>
        <li><a href="index5.html" class="collapsed"><i class="ti-user"></i> Alterar Definições</a></li>
        
    </ul>
</aside>