<header>
      <div class="search-bar closed">
        <form>
          <div class="input-group input-group-lg">
            <input type="text" placeholder="Search for..." class="form-control"><span class="input-group-btn">
              <button type="button" class="btn btn-default search-bar-toggle"><i class="ti-close"></i></button></span>
          </div>
        </form>
      </div><a href="index.html" class="brand pull-left"><i class="ti-underline"></i>
        <h2>CMCP<span>app</span></h2></a><a href="javascript:;" role="button" class="hamburger-menu pull-left"><span></span></a>
        {{> LeftTopMenu}}
        
    </header>