<div class="page-header clearfix">
    <div class="pull-left">
    <h4 class="mt-0 mb-5">Benvindo ao CMCP</h4>
    <p class="text-muted mb-0">Gestor da sua loja online</p>
    </div>
    <div class="pull-right">
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-outline"><img src="images/flags/pt.png" alt="" class="flag-icon">Portugues</button>
        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-outline dropdown-toggle"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
        <ul class="dropdown-menu dropdown-menu-right animated fadeInDown">
        <li><a href="#"><img src="images/flags/us.jpg" alt="" class="flag-icon">English</a></li>
        </ul>
    </div>
    </div>
</div>