<div class="row">
<div class="col-md-9">
    <div class="clearfix">
        <div id="flot-visitor-legend" class="pull-left"></div>
        <div class="pull-right">
            <div class="btn-toolbar">
                <button id="daterangepicker" type="button" class="btn btn-raised btn-black"><i class="ti-calendar"> </i><span></span></button>
            </div>
        </div>
    </div>
    <div id="flot-visitor" style="height: 300px"></div>
    <div class="row row-0 mt-10 text-center">
        <div class="col-xs-4">
            <div class="fs-30 fw-600">45.87M</div>
            <h5 class="m-0">Overall Visitors <span class="text-danger"><i class="ti-arrow-down fs-13"></i> 2.43%</span></h5>
        </div>
        <div class="col-xs-4">
            <div class="fs-30 fw-600">15:32</div>
            <h5 class="m-0">Avg. Visit Duration <span class="text-success"><i class="ti-arrow-up fs-13"></i> 12.54%</span></h5>
        </div>
        <div class="col-xs-4">
            <div class="fs-30 fw-600">115.65</div>
            <h5 class="m-0">Pages/Visit <span class="text-success"><i class="ti-arrow-up fs-13"></i> 5.62%</span></h5>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="row">
    <div class="col-lg-12 col-md-4">
        <div class="mb-30">
        <div class="media">
            <div class="media-body">
            <h5 class="media-heading">New Orders <span class="text-success"><i class="ti-arrow-up fs-13"></i> 5.28%</span></h5>
            <div class="fs-36 fw-600 counter">650</div>
            </div>
            <div class="media-right"><i class="fs-30 ti-receipt"></i></div>
        </div>
        <div id="flot-order" style="height: 74px"></div>
        </div>
    </div>
    <div class="col-lg-12 col-md-4">
        <div class="mb-30">
        <div class="media">
            <div class="media-body">
            <h5 class="media-heading">Total Revenue <span class="text-danger"><i class="ti-arrow-down fs-13"></i> 1.06%</span></h5>
            <div class="fs-36 fw-600">$<span class="counter">20,320</span></div>
            </div>
            <div class="media-right"><i class="fs-30 ti-money"></i></div>
        </div>
        <div id="flot-revenue" style="height: 74px"></div>
        </div>
    </div>
    <div class="col-lg-12 col-md-4">
        <div class="mb-30">
        <div class="media">
            <div class="media-body">
            <h5 class="media-heading">Task Completed <span class="text-danger"><i class="ti-arrow-down fs-13"></i> 3.76%</span></h5>
            <div class="fs-36 fw-600 counter">278</div>
            </div>
            <div class="media-right"><i class="fs-30 ti-check-box"></i></div>
        </div>
        <ul class="list-unstyled">
            <li>
            <div class="block clearfix mb-5"><span class="pull-left fs-12">Today</span><span class="pull-right label label-outline label-primary">65%</span></div>
            <div class="progress progress-xs">
                <div role="progressbar" data-transitiongoal="65" class="progress-bar"></div>
            </div>
            </li>
            <li>
            <div class="block clearfix mb-5"><span class="pull-left fs-12">Yesterday</span><span class="pull-right label label-outline label-success">80%</span></div>
            <div class="progress progress-xs">
                <div role="progressbar" data-transitiongoal="80" class="progress-bar progress-bar-success"></div>
            </div>
            </li>
        </ul>
        </div>
    </div>
    </div>
</div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="widget text-center">
        <div class="widget-body">
            <div class="clearfix">
            <div class="pull-left"><a href="javascript:;" class="widget-reload"><i class="ti-control-record text-muted"></i></a></div>
            <div class="pull-right"><a href="javascript:;" class="widget-remove"><i class="ti-trash text-muted"></i></a></div>
            </div>
            <h5 class="mb-5">New Comments</h5>
            <div class="fs-36 fw-600 mb-20 counter">1,206</div>
            <div id="esp-comment" data-percent="75" style="height: 140px; width: 140px; line-height: 120px; padding: 10px;" class="easy-pie-chart fs-36"><i class="ti-comment-alt text-muted"></i></div>
            <div class="clearfix mt-20">
            <div class="pull-left">
                <div class="fs-12">Today</div>
                <div class="text-success">+2.43%</div>
            </div>
            <div class="pull-right">
                <div class="fs-12">Yesterday</div>
                <div class="text-danger">-1.02%</div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="widget text-center">
        <div class="widget-body">
            <div class="clearfix">
            <div class="pull-left"><a href="javascript:;" class="widget-reload"><i class="ti-control-record text-muted"></i></a></div>
            <div class="pull-right"><a href="javascript:;" class="widget-remove"><i class="ti-trash text-muted"></i></a></div>
            </div>
            <h5 class="mb-5">New Photos</h5>
            <div class="fs-36 fw-600 mb-20 counter">350</div>
            <div id="esp-photo" data-percent="55" style="height: 140px; width: 140px; line-height: 120px; padding: 10px;" class="easy-pie-chart fs-36"><i class="ti-image text-muted"></i></div>
            <div class="clearfix mt-20">
            <div class="pull-left">
                <div class="fs-12">Today</div>
                <div class="text-danger">-0.23%</div>
            </div>
            <div class="pull-right">
                <div class="fs-12">Yesterday</div>
                <div class="text-success">+1.02%</div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="widget text-center">
        <div class="widget-body">
            <div class="clearfix">
            <div class="pull-left"><a href="javascript:;" class="widget-reload"><i class="ti-control-record text-muted"></i></a></div>
            <div class="pull-right"><a href="javascript:;" class="widget-remove"><i class="ti-trash text-muted"></i></a></div>
            </div>
            <h5 class="mb-5">New Users</h5>
            <div class="fs-36 fw-600 mb-20 counter">890</div>
            <div id="esp-user" data-percent="30" style="height: 140px; width: 140px; line-height: 120px; padding: 10px;" class="easy-pie-chart fs-36"><i class="ti-user text-muted"></i></div>
            <div class="clearfix mt-20">
            <div class="pull-left">
                <div class="fs-12">Today</div>
                <div class="text-success">+0.09%</div>
            </div>
            <div class="pull-right">
                <div class="fs-12">Yesterday</div>
                <div class="text-danger">-0.02%</div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="widget text-center">
        <div class="widget-body">
            <div class="clearfix">
            <div class="pull-left"><a href="javascript:;" class="widget-reload"><i class="ti-control-record text-muted"></i></a></div>
            <div class="pull-right"><a href="javascript:;" class="widget-remove"><i class="ti-trash text-muted"></i></a></div>
            </div>
            <h5 class="mb-5">New Feedbacks</h5>
            <div class="fs-36 fw-600 mb-20 counter">1,609</div>
            <div id="esp-feedback" data-percent="20" style="height: 140px; width: 140px; line-height: 120px; padding: 10px;" class="easy-pie-chart fs-36"><i class="ti-receipt text-muted"></i></div>
            <div class="clearfix mt-20">
            <div class="pull-left">
                <div class="fs-12">Today</div>
                <div class="text-success">+3.29%</div>
            </div>
            <div class="pull-right">
                <div class="fs-12">Yesterday</div>
                <div class="text-success">+2.32%</div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="row">            
<div class="col-md-12">
    <div class="widget no-border">
    <table id="order-table" style="width: 100%" class="table table-hover dt-responsive nowrap">
        <thead>
        <tr>
            <th style="width:16%">Order ID</th>
            <th style="width:37%">Customer</th>
            <th style="width:20%">Date Added</th>
            <th style="width:12%">Total</th>
            <th style="width:15%">Completed</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>#6546</td>
            <td>
            <div class="media">
                <div class="media-left avatar"><img src="images/users/10.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                <div class="media-body">
                <h5 class="media-heading">Philip Fernandez</h5>
                <p class="text-muted mb-0">489 Rhapsody Street</p>
                </div>
            </div>
            </td>
            <td>20 Feb 2016</td>
            <td>$140.00</td>
            <td class="text-center text-success"><i class="ti-check"></i></td>
        </tr>
        <tr>
            <td>#6941</td>
            <td>
            <div class="media">
                <div class="media-left avatar"><img src="images/users/20.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                <div class="media-body">
                <h5 class="media-heading">Mary Carr</h5>
                <p class="text-muted mb-0">3611 West Fork Drive</p>
                </div>
            </div>
            </td>
            <td>20 Feb 2016</td>
            <td>$120.00</td>
            <td class="text-center text-danger"><i class="ti-close"></i></td>
        </tr>
        <tr>
            <td>#3202</td>
            <td>
            <div class="media">
                <div class="media-left avatar"><img src="images/users/11.jpg" alt="" class="media-object img-circle"><span class="status bg-danger"></span></div>
                <div class="media-body">
                <h5 class="media-heading">Joseph Salazar</h5>
                <p class="text-muted mb-0">4489 Hart Ridge Road</p>
                </div>
            </div>
            </td>
            <td>20 Feb 2016</td>
            <td>$590.00</td>
            <td class="text-center text-success"><i class="ti-check"></i></td>
        </tr>
        <tr>
            <td>#8302</td>
            <td>
            <div class="media">
                <div class="media-left avatar"><img src="images/users/06.jpg" alt="" class="media-object img-circle"><span class="status bg-warning"></span></div>
                <div class="media-body">
                <h5 class="media-heading">John Cruz</h5>
                <p class="text-muted mb-0">3274 Lyndon Street</p>
                </div>
            </div>
            </td>
            <td>20 Feb 2016</td>
            <td>$940.00</td>
            <td class="text-center text-danger"><i class="ti-close"></i></td>
        </tr>
        <tr>
            <td>#8943</td>
            <td>
            <div class="media">
                <div class="media-left avatar"><img src="images/users/19.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                <div class="media-body">
                <h5 class="media-heading">Jacqueline Rios</h5>
                <p class="text-muted mb-0">559 Holly Street</p>
                </div>
            </div>
            </td>
            <td>20 Feb 2016</td>
            <td>$490.00</td>
            <td class="text-center text-success"><i class="ti-check"></i></td>
        </tr>
        <tr>
            <td>#8943</td>
            <td>
            <div class="media">
                <div class="media-left avatar"><img src="images/users/01.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                <div class="media-body">
                <h5 class="media-heading">Samuel Hayes</h5>
                <p class="text-muted mb-0">716 Riverwood Drive</p>
                </div>
            </div>
            </td>
            <td>20 Feb 2016</td>
            <td>$230.00</td>
            <td class="text-center text-success"><i class="ti-check"></i></td>
        </tr>
        <tr>
            <td>#2357</td>
            <td>
            <div class="media">
                <div class="media-left avatar"><img src="images/users/15.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                <div class="media-body">
                <h5 class="media-heading">Tyler Hamilton</h5>
                <p class="text-muted mb-0">1979 Monroe Street</p>
                </div>
            </div>
            </td>
            <td>20 Feb 2016</td>
            <td>$319.00</td>
            <td class="text-center text-success"><i class="ti-check"></i></td>
        </tr>
        <tr>
            <td>#5784</td>
            <td>
            <div class="media">
                <div class="media-left avatar"><img src="images/users/16.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                <div class="media-body">
                <h5 class="media-heading">Lawrence Castillo</h5>
                <p class="text-muted mb-0">1704 Saints Alley</p>
                </div>
            </div>
            </td>
            <td>20 Feb 2016</td>
            <td>$860.00</td>
            <td class="text-center text-success"><i class="ti-check"></i></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
</div>