<style>
    .colorpicker-2x .colorpicker-saturation {
        width: 200px;
        height: 200px;
    }

    .colorpicker-2x .colorpicker-hue,
    .colorpicker-2x .colorpicker-alpha {
        width: 30px;
        height: 200px;
    }

    .colorpicker-2x .colorpicker-color,
    .colorpicker-2x .colorpicker-color div {
        height: 30px;
    }
</style>
<div class="widget">
<div class="widget-heading clearfix">
    <h3 class="widget-title pull-left">Edit Product</h3>
    <div class="pull-right">
    <button type="button" class="btn btn-primary"><i class="ti-save"></i></button>
    <button type="button" class="btn btn-default"><i class="ti-share-alt"></i></button>
    </div>
</div>
<div class="widget-body">
    <form class="form-horizontal">
        <ul role="tablist" class="nav nav-tabs mb-15">
            <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">Geral</a></li>
            <li role="presentation"><a href="#data" aria-controls="data" role="tab" data-toggle="tab">Dados</a></li>
            <li role="presentation"><a href="#discount" aria-controls="discount" role="tab" data-toggle="tab">Atributos</a></li>
            <li role="presentation"><a href="#image" aria-controls="image" role="tab" data-toggle="tab">Imagens</a></li>
        </ul>
        <div class="tab-content">
            <div id="general" role="tabpanel" class="tab-pane active">
                <div class="form-group">
                    <label for="txtEditProductProductName" class="col-sm-3 control-label">Product Name</label>
                    <div class="col-sm-9">
                    <input id="txtEditProductProductName" value="{{product.general.productName}}" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtEditProductMetaTagTitle" class="col-sm-3 control-label">Meta Tag Title</label>
                    <div class="col-sm-9">
                    <input id="txtEditProductMetaTagTitle" value="{{product.general.metaTagTitle}}" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtEditProductMetaTagDescription" class="col-sm-3 control-label">Meta Tag Description</label>
                    <div class="col-sm-9">
                    <textarea id="txtEditProductMetaTagDescription" class="form-control">{{product.general.metaTagDescription}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtEditProductMetaTagKeywords" class="col-sm-3 control-label">Meta Tag Keywords</label>
                    <div class="col-sm-9">
                        <input type="text" id="txtEditProductMetaTagKeywords" value="{{product.general.metaTagKeywords}}" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtEditProductDescription" class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-9">
                    <textarea id="txtEditProductDescription" class="form-control">{{product.general.description}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label for="btnAddEditProductEditGeneral" class="col-sm-3 control-label"></label>
                        <button type="button" id="btnAddEditProductEditGeneral" class="btn btn-outline btn-info">Editar</button>
                    </div>
                </div>
            </div>
            <div id="data" role="tabpanel" class="tab-pane">
                <div class="form-group">
                    <label for="txtEditProductLocation" class="col-sm-3 control-label">Location</label>
                    <div class="col-sm-9">
                    <input id="txtEditProductLocation" value="{{product.data.location}}" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtEditProductPrice" class="col-sm-3 control-label">Price</label>
                    <div class="col-sm-9">
                    <input id="txtEditProductPrice" value="{{product.sellingPrice}}" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtEditProductQuantity" class="col-sm-3 control-label">Quantity</label>
                    <div class="col-sm-9">
                    <input id="txtEditProductQuantity" value="{{product.data.quantity}}" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtEditProductManufacture" class="col-sm-3 control-label">Fornecedor</label>
                    <div class="col-sm-9">
                        <input id="txtEditProductManufacture" value="{{product.general.vendor}}" name="txtEditProductManufacture" data-rule-required="true"  type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label for="btnAddEditProductEditData" class="col-sm-3 control-label"></label>
                        <button type="button" id="btnAddEditProductEditData" class="btn btn-outline btn-info">Editar</button>
                    </div>
                </div>
            </div>
            <div id="discount" role="tabpanel" class="tab-pane">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget">
                            <div class="widget-body">
                                <form>
                                    <div class="form-group">
                                        <label for="ddlEditProductAttributeType">Tipo</label>
                                        <select id="ddlEditProductAttributeType" class="form-control">
                                            <option value="none">Selecione o Tipo de Atributo</option>
                                            <option value="color">Cor</option>
                                            <option value="size">Tamanho</option>
                                            <option value="other">Outro</option>
                                        </select>
                                    </div>
                                    <div class="form-group" id="editProductAttributeValueArea">
                                    
                                    </div>
                                    <div class="form-group">
                                        <label for="txtEditProductAttributeQuantity">Quantidade</label>
                                        <input id="txtEditProductAttributeQuantity" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtEditProductAttributeKey">Chave</label>
                                        <input id="txtEditProductAttributeKey" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtEditProductAttributeAddPrice">Preço Adicional</label>
                                        <input id="txtEditProductAttributeAddPrice" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox-custom">
                                            <input id="chkEditProductAttributeForSell" type="checkbox">
                                            <label for="chkEditProductAttributeForSell">Opção de Compra</label>
                                        </div>      
                                    </div>
                                    <div class="form-group">
                                        <button type="button" id="btnAddEditProductAttribute" class="btn btn-outline btn-info">Adicionar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                        <div class="col-md-8">
                            <div class="widget">
                                <table style="width: 100%" id="editProductAttributeDisplayTable" class="table table-hover dt-responsive nowrap"> 
                                    <thead>
                                        <tr>
                                            <th>Tipo</th>
                                            <th>Valor</th>
                                            <th>Chave</th>
                                            <th>Quantidade</th>
                                            <th>Preço Adicional</th>
                                            <th>Opção</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each product.attributes}}
                                            <tr>
                                                <td>{{type}}</td>
                                                <td>{{value}}</td>
                                                <td>{{key}}</td>
                                                <td>{{quantity}}</td>
                                                <td>{{additionalCost}}</td>
                                                <td>{{purchaseOption}}</td>
                                                <td><a class='btn btn-outline btn-primary' onclick='EditProductRemoveAttribute("{{id}}");'><i class='ti-trash'></i></a></td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
            <div id="image" role="tabpanel" class="tab-pane">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <div class="widget-body">
                                    <div id="EditProductAddNewImage" class="dropzone">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <table style="width: 100%" class="table table-bordered" id="EditProductImagesTable">
                            <thead>
                            <tr>
                                <th class="text-center">Image</th>
                                <th>Image Url</th>
                                <th style="width: 20%">Sort Order</th>
                                <th class="text-center">Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                                {{#each product.images}}
                                    <tr>
                                        <td class="text-center">
                                            <img src="{{path}}" width="100" alt="" class="img-thumbnail img-responsive">
                                        </td>
                                        <td>
                                            <input type="text" value="{{path}}" disabled name="txtImageUrl" class="form-control">
                                        </td>
                                        <td>
                                            <ul style="list-style-type: none;">
                                                <li style='display: block; padding: 1%'><input type='text' value='{{position}}' id='txtEditProductIamgesSortOrder{{position}}' class='form-control'></li>
                                                <li style="display: block; padding: 1%"><button type="button" onclick='EditProductChangeImagePosition("{{position}}" , "{{name}}")' class="btn btn-sm btn-outline btn-info"><i class="ti-save"></i></button></li>
                                            </ul>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" onclick="EditProductRemoveImage('{{name}}')" class="btn btn-sm btn-outline btn-danger"><i class="ti-trash"></i></button>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div> 
                </div>
                
            </div>
        </div>
    </form>
</div>
</div>