<form method="get" action="" class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-12">
            <input type="password" placeholder="Nova Senha" id="passwordchange" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12">
            <input type="password" placeholder="Confirmar Nova Senha" id="passwordchangeconfirmation" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12">
            <div class="pull-right"><a href="forgot.html" class="inline-block form-control-static">Forgot a Passowrd?</a></div>
        </div>
    </div>
    <button type="button" id="cmdChangePassword" class="btn-lg btn btn-primary btn-rounded btn-block">Alterar Senha</button>
    <div class="spinner" id="loginSpinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</form>