<div class="widget">
<div class="widget-heading">
    <h3 class="widget-title">Product List</h3>
</div>
<div class="widget-body">
    <form>
        <div class="row">
            <div class="col-md-4">
            <div class="form-group">
                <label for="txtProductName">Product Name</label>
                <input id="txtProductName" type="text" class="form-control">
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label for="txtPrice">Price</label>
                <input id="txtPrice" type="text" class="form-control">
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label for="ddlStatus">Status</label>
                <select id="ddlStatus" class="form-control">
                <option value="">Choose</option>
                <option value="1">Enabled</option>
                <option value="0">Disabled</option>
                </select>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            <div class="form-group">
                <label for="txtModel">Model</label>
                <input id="txtModel" type="text" class="form-control">
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label for="txtPrice">Quantity</label>
                <input id="txtQuantity" type="text" class="form-control">
            </div>
            </div>
        </div>
        <button type="submit" class="mb-15 btn btn-raised btn-success">Filter</button>
    </form>
    <table id="listproducts" style="width: 100%" class="table table-hover dt-responsive nowrap">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Model</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Status</th>
                <th style="width:10%"></th>
                <th style="width:10%"></th>
                <th style="width:10%"></th>
            </tr>
        </thead>
    </table>
</div>
</div>