<form method="get" action="index.html" class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-12">
            <input type="text" placeholder="E-mail" id="email" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <input type="password" placeholder="Senha" id="password" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="pull-right"><a href="forgot.html" class="inline-block form-control-static">Forgot a Passowrd?</a></div>
        </div>
    </div>
    <button type="button" id="cmdLogin" class="btn-lg btn btn-primary btn-rounded btn-block">Entrar</button>
    <div class="spinner" id="loginSpinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</form>