<div class="light-wrapper">
    <div class="container inner">
      <div class="headline text-center">
        <h2>Nossos Modelos</h2>
        <p class="lead">Escolha um modelo ou contacta-nos e diga-nos como quer a sua loja virtual</p>
      </div>
      <div class="cbp-panel">
        <div id="filters-container2" class="cbp-filter-container text-center">
          <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div>
          <div data-filter=".print" class="cbp-filter-item"> Print </div>
          <div data-filter=".web" class="cbp-filter-item"> Web Design </div>
          <div data-filter=".logo" class="cbp-filter-item"> Logo </div>
          <div data-filter=".motion" class="cbp-filter-item"> Motion </div>
        </div>
        <div id="grid-container2" class="cbp cbp-below">
          <div class="cbp-item print motion"> <a href="ajax/project1.html" class="cbp-caption cbp-singlePageInline">
            <div class="cbp-caption-defaultWrap"> <img src="style/images/art/p1.jpg" alt="" /> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Malesuada Parturient</div>
                  <div class="cbp-l-caption-desc">Print, Motion</div>
                </div>
              </div>
            </div>
            </a> </div>
          <div class="cbp-item web logo"> <a href="ajax/project2.html" class="cbp-caption cbp-singlePageInline">
            <div class="cbp-caption-defaultWrap"> <img src="style/images/art/p2.jpg" alt="" /> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Tellus Nibh</div>
                  <div class="cbp-l-caption-desc">Web Design</div>
                </div>
              </div>
            </div>
            </a> </div>
          <div class="cbp-item print motion"> <a href="ajax/project3.html" class="cbp-caption cbp-singlePageInline">
            <div class="cbp-caption-defaultWrap"> <img src="style/images/art/p3.jpg" alt="" /> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Pellentesque Mattis</div>
                  <div class="cbp-l-caption-desc">Print, Motion</div>
                </div>
              </div>
            </div>
            </a> </div>
          <div class="cbp-item web print"> <a href="ajax/project4.html" class="cbp-caption cbp-singlePageInline">
            <div class="cbp-caption-defaultWrap"> <img src="style/images/art/p4.jpg" alt="" /> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Euismod Pharetra</div>
                  <div class="cbp-l-caption-desc">Web Design, Print</div>
                </div>
              </div>
            </div>
            </a> </div>
          <div class="cbp-item motion logo"> <a href="ajax/project5.html" class="cbp-caption cbp-singlePageInline">
            <div class="cbp-caption-defaultWrap"> <img src="style/images/art/p5.jpg" alt="" /> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Fringilla Nullam</div>
                  <div class="cbp-l-caption-desc">Motion</div>
                </div>
              </div>
            </div>
            </a> </div>
          <div class="cbp-item print motion"> <a href="ajax/project6.html" class="cbp-caption cbp-singlePageInline">
            <div class="cbp-caption-defaultWrap"> <img src="style/images/art/p6.jpg" alt="" /> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Pharetra Sem</div>
                  <div class="cbp-l-caption-desc">Print, Motion</div>
                </div>
              </div>
            </div>
            </a> </div>
          <div class="cbp-item web print"> <a href="ajax/project7.html" class="cbp-caption cbp-singlePageInline">
            <div class="cbp-caption-defaultWrap"> <img src="style/images/art/p7.jpg" alt="" /> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Tristique Sit</div>
                  <div class="cbp-l-caption-desc">Web Design, Print</div>
                </div>
              </div>
            </div>
            </a> </div>
          <div class="cbp-item print"> <a href="ajax/project8.html" class="cbp-caption cbp-singlePageInline">
            <div class="cbp-caption-defaultWrap"> <img src="style/images/art/p8.jpg" alt="" /> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Vulputate Malesuada</div>
                  <div class="cbp-l-caption-desc">Print</div>
                </div>
              </div>
            </div>
            </a> </div>
          <div class="motion web cbp-item"> <a href="ajax/project9.html" class="cbp-caption cbp-singlePageInline">
            <div class="cbp-caption-defaultWrap"> <img src="style/images/art/p9.jpg" alt="" /> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Consectetur Nullam</div>
                  <div class="cbp-l-caption-desc">Web Design</div>
                </div>
              </div>
            </div>
            </a> </div>
            <div class="cbp-item web print">
                <a href="ajax/project10.html" class="cbp-caption cbp-singlePageInline">
                    <div class="cbp-caption-defaultWrap">
                        <img src="style/images/art/p10.jpg" alt="" />
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Dolor Sit Aenean</div>
                                <div class="cbp-l-caption-desc">Web Design, Print</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item print">
                <a href="ajax/project11.html" class="cbp-caption cbp-singlePageInline">
                    <div class="cbp-caption-defaultWrap">
                        <img src="style/images/art/p11.jpg" alt="" />
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Dapibus Tortor Euismod</div>
                                <div class="cbp-l-caption-desc">Print</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
        <div class="motion web cbp-item">
            <a href="ajax/project12.html" class="cbp-caption cbp-singlePageInline">
                <div class="cbp-caption-defaultWrap">
                    <img src="style/images/art/p12.jpg" alt="" />
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Tristique Fusce Ridiculus</div>
                            <div class="cbp-l-caption-desc">Web Design</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        </div>
        <div class="divide30"></div>
        <div class="text-center">
          <div id="loadMore-container2" class=""> <a href="ajax/portfolio-more3.html" class="cbp-l-loadMore-link btn btn-border dark"> <span class="cbp-l-loadMore-defaultText">LOAD MORE</span> <span class="cbp-l-loadMore-loadingText">LOADING...</span> <span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span> </a> </div>
        </div>
      </div>
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.light-wrapper -->