
<div class="widget">
    <div class="widget-heading">
        <h3 class="widget-title">Novo Membro</h3>
    </div>
    <div class="widget-body">
        <form id="form-horizontal" method="post" novalidate="novalidate" class="form-horizontal">
            <div class="form-group">
                <label for="txtFirstNameNewMember" class="col-sm-2 control-label">Primeiro Nome</label>
                <div class="col-sm-10">
                <input id="txtFirstNameNewMember" type="text" name="txtFirstNameNewMember" placeholder="Digite o Primeiro Nome" data-rule-required="true" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="txtLastNameNewMember" class="col-sm-2 control-label">Ultimo Nome</label>
                <div class="col-sm-10">
                <input id="txtLastNameNewMember" type="text" name="txtLastNameNewMember" placeholder="Digite o Ultimo Nome" data-rule-required="true" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="txtEmailNewMember" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                <input id="txtEmailNewMember" type="email" name="txtEmailNewMember" placeholder="Enter email" data-rule-required="true" data-rule-rangelength="[10,30]" data-rule-email="true" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="cboRoles" class="col-sm-2 control-label">Country</label>
                <div class="col-sm-10">
                <select id="cboRoles" name="cboRoles" data-rule-required="true" class="form-control">
                    <option value="none">-- Selecione a Função --</option>
                    <option value="FINANCES">Finanças</option>
                    <option value="OPERATOR">Operador</option>
                </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" name="btnSendAddNewMember" id="btnSendAddNewMember" class="btn btn-raised btn-black">Enviar</button>
                </div>
                <div class="col-sm-10">
                    <a type="button" href="/team" class="btn btn-default">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="spinner" id="newMemberSpinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>

<script type="text/javascript" src="javascript/jquery-validation.js"></script>