<style>
    .colorpicker-2x .colorpicker-saturation {
        width: 200px;
        height: 200px;
    }

    .colorpicker-2x .colorpicker-hue,
    .colorpicker-2x .colorpicker-alpha {
        width: 30px;
        height: 200px;
    }

    .colorpicker-2x .colorpicker-color,
    .colorpicker-2x .colorpicker-color div {
        height: 30px;
    }
</style>
<div class="widget">
<div class="widget-heading">
    <h3 class="widget-title">Novo Producto</h3>
</div>
<div class="widget-body">
    <form id="frmNewProduct">
    <h3>Geral</h3>
    <fieldset>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="txtNewProductName">Nome do Producto</label>
                    <input id="txtNewProductName" name="txtNewProductName" data-rule-required="true" type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                <label for="txtNewProductMetaTagTitle">Titulo Tag</label>
                <input id="txtNewProductMetaTagTitle" name="txtNewProductMetaTagTitle" data-rule-required="true" type="text" class="form-control">
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="txtNewProductMetaTagDescription">Descrição Tag</label>
                    <input id="txtNewProductMetaTagDescription" name="txtNewProductMetaTagDescription" data-rule-required="true" type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="txtNewProductMetaTagKeywords">Palavras-chave Tag</label>
                    <input id="txtNewProductMetaTagKeywords" name="txtNewProductMetaTagKeywords" type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="txtNewProductDescription">Descrição</label>
                    <textarea id="txtNewProductDescription" name="txtNewProductDescription" data-rule-required="true" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </fieldset>
    <h3>Dados</h3>
    <fieldset>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                <label for="txtNewProductModel">Modelo</label>
                <input id="txtNewProductModel" name="txtNewProductModel" data-rule-required="true" type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="txtNewProductCategory">Categoria</label>
                    <input id="txtNewProductCategory" name="txtNewProductCategory" data-rule-required="true" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="txtNewProductLocation">Localização</label>
                    <input id="txtNewProductLocation" name="txtNewProductLocation" data-rule-required="true" type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                <label for="txtNewProductQuantity">Quantidade</label>
                <input id="txtNewProductQuantity" name="txtNewProductQuantity" data-rule-required="true"  type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                <label for="txtNewProductSellingPrice">Preço de Venda</label>
                <input id="txtNewProductSellingPrice" name="txtNewProductSellingPrice" data-rule-required="true"  type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="txtNewProductManufacture">Fornecedor</label>
                    <input id="txtNewProductManufacture" name="txtNewProductManufacture" data-rule-required="true"  type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                <label for="txtNewProductBrand">Marca</label>
                <input id="txtNewProductBrand" name="txtNewProductBrand" data-rule-required="true"  type="text" class="form-control">
                </div>
            </div>
        </div>
    </fieldset>
    <h3>Atributos</h3>
    <fieldset>    
       <div class="row">
           <div class="col-md-4">
                <div class="form-group">
                    <label for="ddlNewProductAttributeType">Tipo</label>
                    <select id="ddlNewProductAttributeType" class="form-control">
                        <option value="none">Selecione o Tipo de Atributo</option>
                        <option value="color">Cor</option>
                        <option value="size">Tamanho</option>
                        <option value="other">Outro</option>
                    </select>
                </div>
                <div class="form-group" id="newProductAttributeValueArea">
                
                </div>
                <div class="form-group">
                    <label for="txtNewProductAttributeQuantity">Quantidade</label>
                    <input id="txtNewProductAttributeQuantity" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="txtNewProductAttributeKey">Chave</label>
                    <input id="txtNewProductAttributeKey" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="txtNewProductAttributeAddPrice">Preço Adicional</label>
                    <input id="txtNewProductAttributeAddPrice" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <div class="checkbox-custom">
                        <input id="chkNewProductAttributeForSell" type="checkbox">
                        <label for="chkNewProductAttributeForSell">Opção de Compra</label>
                    </div>      
                </div>
                <div class="form-group">
                    <button type="button" id="btnAddNewProductAttribute" class="btn btn-outline btn-info">Adicionar</button>
                </div>
            </div>
            <div class="col-md-8">
                <table style="width: 100%" id="newProductAttributeDisplayTable" class="table table-hover dt-responsive nowrap"> 
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Valor</th>
                            <th>Chave</th>
                            <th>Quantidade</th>
                            <th>Preço Adicional</th>
                            <th>Opção</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
       </div>
    </fieldset>
    <h3>Imagens</h3>
    <fieldset>
        <div class="widget">
            <div class="widget-heading">
              <h3 class="widget-title">Multiple File</h3>
            </div>
            <div class="widget-body">
                <div id="newProductFiles" class="dropzone">
                </div>
            </div>
          </div>
    </fieldset>
    </form>
</div>
</div>

<div class="spinner" id="newProductSpinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>