<div class="row">            
    <div class="col-md-12">
        <a href="/newmember" class='btn btn-info btn-sm' style="margin-bottom: 2%">Novo Membro</a>
        <div class="widget no-border">
            <table id="team-table" style="width: 100%" class="table table-hover dt-responsive nowrap">
                <thead>
                    <tr>
                        <th style="width:37%">Nome</th>
                        <th style="width:27%">Email</th>
                        <th style="width:20%">Função</th>
                        <th style="width:20%">Estado</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>