<div class="widget">
<div class="widget-heading">
    <div class="row">
        <div class="col-md-10">
            <h3 class="widget-title">{{product.general.productName}} - {{product.sellingPrice}}</h3>
        </div>
        <div class="col-md-2" style="text-align: right">
            <ul>
                <li style="display: inline-block">
                    {{#if product.data.statusBoolean}}
                        <button id="btnViewProductPublish" name='{{product.publicID}}' class="btn btn-info btn-sm">Publicar</button>
                    {{else}}
                        <button id="btnViewProductUnPublish" name='{{product.publicID}}' class="btn btn-info btn-sm">Ocultar</button>
                    {{/if}}
                </li>
                <li style="display: inline-block">
                    <a class="btn btn-info btn-sm" href="edit/{{product.publicID}}">Editar</a>
                </li>
            </ul>        
        </div>
    </div>
</div>
<div class="widget-body">
    <div class="row">
        <div class="col-md-4">
            <div class="widget">
                <div id="retina-owl-carousel" class="owl-carousel owl-theme">
                    {{#each product.images}}
                        <img data-src="{{path}}" data-src-retina="{{path}}" alt="" class="owl-lazy">
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="widget">
                <div class="row">
                    <div class="col-md-6"> 
                        <table class="table" style="width: 100%; border:1; border-style: solid">
                            <tr>
                                <td><b>Nome</b></td>
                                <td>{{product.general.productName}}</td>
                            </tr>
                            <tr>
                                <td><b>Titulo Tag</b></td>
                                <td>{{product.general.metaTagTitle}}</td>
                            </tr>
                            <tr>
                                <td><b>Descrição Tag</b></td>
                                <td>{{product.general.metaTagDescription}}</td>
                            </tr>
                            <tr>
                                <td><b>Palavras-Chave Tag</b></td>
                                <td>{{product.general.metaTagKeywords}}</td>
                            </tr>
                            <tr>
                                <td><b>Descrição</b></td>
                                <td>{{product.general.description}}</td>
                            </tr>
                            <tr>
                                <td><b>Fornecedor</b></td>
                                <td>{{product.general.vendor}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6"> 
                        <table class="table" style="width: 100%; border:1; border-style: solid">
                            <tr>
                                <td><b>Modelo</b></td>
                                <td>{{product.data.model}}</td>
                            </tr>
                            <tr>
                                <td><b>Categoria</b></td>
                                <td>{{product.data.category}}</td>
                            </tr>
                            <tr>
                                <td><b>Marca</b></td>
                                <td>{{product.data.brand}}</td>
                            </tr>
                            <tr>
                                <td><b>Localização</b></td>
                                <td>{{product.data.location}}</td>
                            </tr>
                            <tr>
                                <td><b>Quantidade em Estoque</b></td>
                                <td>{{product.data.quantity}}</td>
                            </tr>
                            <tr>
                                <td><b>Estado</b></td>
                                <td>{{product.data.status}}</td>
                            </tr>
                            <tr>
                                <td><b>Criado Em</b></td>
                                <td>{{product.created}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-heading">
                                <h3 class="widget-title">Atributos</h3>
                            </div>
                            <div class="widget-body">
                                <table style="width: 100%; border:1; border-style: solid" id="viewProductAttributeDisplayTable" class="table table-hover dt-responsive nowrap"> 
                                    <thead>
                                        <tr>
                                            <th>Tipo</th>
                                            <th>Valor</th>
                                            <th>Chave</th>
                                            <th>Quantidade</th>
                                            <th>Preço Adicional</th>
                                            <th>Opção</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each product.attributes}}
                                            <tr>
                                                <td>{{type}}</td>
                                                <td>{{value}}</td>
                                                <td>{{key}}</td>
                                                <td>{{quantity}}</td>
                                                <td>{{additionalCost}}</td>
                                                <td>{{purchaseOption}}</td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>