<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Umega App - Responsive web app kit</title>
    <!-- PACE-->
    <link rel="stylesheet" type="text/css" href="css/pace-theme-flash.css">
    <script type="text/javascript" src="javascript/pace.min.js"></script>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- Fonts-->
    <link rel="stylesheet" type="text/css" href="css/themify-icons.css">
    <!-- Malihu Scrollbar-->
    <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Animo.js-->
    <link rel="stylesheet" type="text/css" href="css/animate-animo.min.css">
    <!-- Bootstrap Progressbar-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap-progressbar-3.3.4.min.css">
    <!-- Toastr-->
    <link rel="stylesheet" type="text/css" href="css/toastr.min.css">
    <!-- SpinKit-->
    <link rel="stylesheet" type="text/css" href="css/spinners/7-three-bounce.css">
    <!-- Jvector Map-->
    <link rel="stylesheet" type="text/css" href="css/jquery-jvectormap-2.0.3.css">
    <!-- Morris Chart-->
    <link rel="stylesheet" type="text/css" href="css/morris.css">
    <!-- DataTables-->
    <link rel="stylesheet" type="text/css" href="css/responsive.bootstrap.min.css">
    <!-- jQuery MiniColors-->
    <link rel="stylesheet" type="text/css" href="css/jquery.minicolors.css">
    <!-- Bootstrap Date Range Picker-->
    <link rel="stylesheet" type="text/css" href="css/daterangepicker.css">
    <!-- Primary Style-->
    <link rel="stylesheet" type="text/css" href="css/first-layout.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://--> 
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body data-sidebar-color="sidebar-light" class="sidebar-light">
    <!-- Header start-->
    {{> TopHeader}}
    <!-- Header end-->
    <div class="main-container">
      <!-- Main Sidebar start-->
      <aside data-mcs-theme="minimal-dark" style="background-image: url(images/backgrounds/11.jpg)" class="main-sidebar closed mCustomScrollbar">
        <div class="user">
          <div id="esp-user-profile" data-percent="65" style="height: 130px; width: 130px; line-height: 100px; padding: 15px;" class="easy-pie-chart"><img src="images/users/04.jpg" alt="" class="avatar img-circle"><span class="status bg-success"></span></div>
          <h4 class="fs-16 text-muted mt-15 mb-5 fw-300">{{name}}</h4>
          <p class="fs-13 mb-0 text-muted">{{role}}</p>
        </div>
        <ul class="list-unstyled navigation mb-0">
          <li class="sidebar-header pt-0">Principal</li>
          <li><a href="index.html" class="active bubble"><i class="ti-dashboard"></i> Painel</a></li>
          <li><a href="index1.html" class="collapsed"><i class="ti-user"></i> Perfil</a></li>
        </ul>
      </aside>
      <!-- Main Sidebar end-->
      <div class="page-container">
        <div class="page-header clearfix">
          <div class="pull-left">
            <h4 class="mt-0 mb-5">Benvindo ao ECMCP</h4>
            <p class="text-muted mb-0">Gestor da sua loja online</p>
          </div>
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-outline"><img src="images/flags/pt.png" alt="" class="flag-icon">Portugues</button>
              <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-outline dropdown-toggle"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
              <ul class="dropdown-menu dropdown-menu-right animated fadeInDown">
                <li><a href="#"><img src="images/flags/us.jpg" alt="" class="flag-icon">English</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="page-content container-fluid">
          
          <div class="row">
            
            <div class="col-md-12">
              <div class="widget no-border">
                <table id="order-table" style="width: 100%" class="table table-hover dt-responsive nowrap">
                  <thead>
                    <tr>
                      <th style="width:16%">Order ID</th>
                      <th style="width:37%">Customer</th>
                      <th style="width:20%">Date Added</th>
                      <th style="width:12%">Total</th>
                      <th style="width:15%">Completed</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>#6546</td>
                      <td>
                        <div class="media">
                          <div class="media-left avatar"><img src="images/users/10.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                          <div class="media-body">
                            <h5 class="media-heading">Philip Fernandez</h5>
                            <p class="text-muted mb-0">489 Rhapsody Street</p>
                          </div>
                        </div>
                      </td>
                      <td>20 Feb 2016</td>
                      <td>$140.00</td>
                      <td class="text-center text-success"><i class="ti-check"></i></td>
                    </tr>
                    <tr>
                      <td>#6941</td>
                      <td>
                        <div class="media">
                          <div class="media-left avatar"><img src="images/users/20.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                          <div class="media-body">
                            <h5 class="media-heading">Mary Carr</h5>
                            <p class="text-muted mb-0">3611 West Fork Drive</p>
                          </div>
                        </div>
                      </td>
                      <td>20 Feb 2016</td>
                      <td>$120.00</td>
                      <td class="text-center text-danger"><i class="ti-close"></i></td>
                    </tr>
                    <tr>
                      <td>#3202</td>
                      <td>
                        <div class="media">
                          <div class="media-left avatar"><img src="images/users/11.jpg" alt="" class="media-object img-circle"><span class="status bg-danger"></span></div>
                          <div class="media-body">
                            <h5 class="media-heading">Joseph Salazar</h5>
                            <p class="text-muted mb-0">4489 Hart Ridge Road</p>
                          </div>
                        </div>
                      </td>
                      <td>20 Feb 2016</td>
                      <td>$590.00</td>
                      <td class="text-center text-success"><i class="ti-check"></i></td>
                    </tr>
                    <tr>
                      <td>#8302</td>
                      <td>
                        <div class="media">
                          <div class="media-left avatar"><img src="images/users/06.jpg" alt="" class="media-object img-circle"><span class="status bg-warning"></span></div>
                          <div class="media-body">
                            <h5 class="media-heading">John Cruz</h5>
                            <p class="text-muted mb-0">3274 Lyndon Street</p>
                          </div>
                        </div>
                      </td>
                      <td>20 Feb 2016</td>
                      <td>$940.00</td>
                      <td class="text-center text-danger"><i class="ti-close"></i></td>
                    </tr>
                    <tr>
                      <td>#8943</td>
                      <td>
                        <div class="media">
                          <div class="media-left avatar"><img src="images/users/19.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                          <div class="media-body">
                            <h5 class="media-heading">Jacqueline Rios</h5>
                            <p class="text-muted mb-0">559 Holly Street</p>
                          </div>
                        </div>
                      </td>
                      <td>20 Feb 2016</td>
                      <td>$490.00</td>
                      <td class="text-center text-success"><i class="ti-check"></i></td>
                    </tr>
                    <tr>
                      <td>#8943</td>
                      <td>
                        <div class="media">
                          <div class="media-left avatar"><img src="images/users/01.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                          <div class="media-body">
                            <h5 class="media-heading">Samuel Hayes</h5>
                            <p class="text-muted mb-0">716 Riverwood Drive</p>
                          </div>
                        </div>
                      </td>
                      <td>20 Feb 2016</td>
                      <td>$230.00</td>
                      <td class="text-center text-success"><i class="ti-check"></i></td>
                    </tr>
                    <tr>
                      <td>#2357</td>
                      <td>
                        <div class="media">
                          <div class="media-left avatar"><img src="images/users/15.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                          <div class="media-body">
                            <h5 class="media-heading">Tyler Hamilton</h5>
                            <p class="text-muted mb-0">1979 Monroe Street</p>
                          </div>
                        </div>
                      </td>
                      <td>20 Feb 2016</td>
                      <td>$319.00</td>
                      <td class="text-center text-success"><i class="ti-check"></i></td>
                    </tr>
                    <tr>
                      <td>#5784</td>
                      <td>
                        <div class="media">
                          <div class="media-left avatar"><img src="images/users/16.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                          <div class="media-body">
                            <h5 class="media-heading">Lawrence Castillo</h5>
                            <p class="text-muted mb-0">1704 Saints Alley</p>
                          </div>
                        </div>
                      </td>
                      <td>20 Feb 2016</td>
                      <td>$860.00</td>
                      <td class="text-center text-success"><i class="ti-check"></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery-->
    <script type="text/javascript" src="javascript/jquery.min.js"></script>
    <!-- Bootstrap JavaScript-->
    <script type="text/javascript" src="javascript/bootstrap.min.js"></script>
    <!-- Malihu Scrollbar-->
    <script type="text/javascript" src="javascript/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Animo.js-->
    <script type="text/javascript" src="javascript/animo.min.js"></script>
    <!-- Bootstrap Progressbar-->
    <script type="text/javascript" src="javascript/bootstrap-progressbar.min.js"></script>
    <!-- Toastr-->
    <script type="text/javascript" src="javascript/toastr.min.js"></script>
    <!-- MomentJS-->
    <script type="text/javascript" src="javascript/moment.min.js"></script>
    <!-- jQuery BlockUI-->
    <script type="text/javascript" src="javascript/jquery.blockUI.js"></script>
    <!-- jQuery Counter Up-->
    <script type="text/javascript" src="javascript/waypoints.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.counterup.min.js"></script>

    <!-- jQuery Easy Pie Chart-->
    <script type="text/javascript" src="javascript/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>

    <!-- Flot Charts--> 
    <!--[if lte IE 8]>
    <script type="text/javascript" src="https://raw.githubusercontent.com/flot/flot/master/excanvas.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="javascript/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="javascript/flot/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="javascript/curvedLines.js"></script>
    <script type="text/javascript" src="javascript/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <!-- Morris Chart-->
    <script type="text/javascript" src="javascript/raphael-min.js"></script>
    <!-- DataTables-->
    <script type="text/javascript" src="javascript/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="javascript/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="javascript/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="javascript/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script type="text/javascript" src="javascript/jszip/dist/jszip.min.js"></script>
    <script type="text/javascript" src="javascript/pdfmake/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="javascript/pdfmake/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="javascript/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="javascript/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="javascript/datatables.net-colreorder/js/dataTables.colReorder.min.js"></script>

    <script type="text/javascript" src="javascript/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="javascript/responsive.bootstrap.js"></script>
    <!-- jQuery UI-->
    <script type="text/javascript" src="javascript/jquery-ui.min.js"></script>
    <!-- jQuery MiniColors-->
    <script type="text/javascript" src="javascript/jquery.minicolors.min.js"></script>
    <!-- Bootstrap Date Range Picker-->
    <script type="text/javascript" src="javascript/daterangepicker.js"></script>
    <!-- Custom JS-->
    <script type="text/javascript" src="javascript/demo.js"></script>
    <script type="text/javascript" src="javascript/app.js"></script>
    <script type="text/javascript" src="javascript/index.js"></script>
  </body>
</html>