<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Umega App - Responsive web app kit</title>
    <!-- PACE-->
    <link rel="stylesheet" type="text/css" href="css/pace-theme-flash.css">
    <script type="text/javascript" src="javascript/pace.min.js"></script>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- Fonts-->
    <link rel="stylesheet" type="text/css" href="css/themify-icons.css">
    <!-- Malihu Scrollbar-->
    <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Animo.js-->
    <link rel="stylesheet" type="text/css" href="css/animate-animo.min.css">
    <!-- Bootstrap Progressbar-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap-progressbar-3.3.4.min.css">
    <!-- jQuery Steps-->
    <link rel="stylesheet" type="text/css" href="css/jquery.steps.css">
    <!-- Toastr-->
    <link rel="stylesheet" type="text/css" href="css/toastr.min.css">
    <!-- SpinKit-->
    <link rel="stylesheet" type="text/css" href="css/spinners/7-three-bounce.css">
    <!-- Jvector Map-->
    <link rel="stylesheet" type="text/css" href="css/jquery-jvectormap-2.0.3.css">
    <!-- Morris Chart-->
    <link rel="stylesheet" type="text/css" href="css/morris.css">
    <!-- DataTables-->
    <link rel="stylesheet" type="text/css" href="css/responsive.bootstrap.min.css">
    <!-- jQuery MiniColors-->
    <link rel="stylesheet" type="text/css" href="css/jquery.minicolors.css">
    <!-- Bootstrap Date Range Picker-->
    <link rel="stylesheet" type="text/css" href="css/daterangepicker.css">
    <!-- Primary Style-->
    <link rel="stylesheet" type="text/css" href="css/first-layout.css">

    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">

    <link rel="stylesheet" type="text/css" href="css/spinner.css">

    <link rel="stylesheet" type="text/css" href="css/dropzone/dist/min/dropzone.min.css">

    <link rel="stylesheet" type="text/css" href="colorpicker/dist/css/bootstrap-colorpicker.css">

    <!-- Owl Carousel-->
    <link rel="stylesheet" type="text/css" href="owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="owl.carousel/dist/assets/owl.theme.default.min.css">

    <!-- jQuery-->
    <script type="text/javascript" src="javascript/jquery.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://--> 
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body data-sidebar-color="sidebar-light" class="sidebar-light">
    <!-- Header start-->
    {{> TopHeader}}
    <!-- Header end-->
    <div class="main-container">
      <!-- Main Sidebar start-->
      {{> OwnerSideMenu}}
      <!-- Main Sidebar end-->
      <div class="page-container">
        {{> TopInfoArea}}
        <div class="page-content container-fluid">
          {{{content}}}
        </div>
      </div>
    </div>

    <!-- Bootstrap JavaScript-->
    <script type="text/javascript" src="javascript/bootstrap.min.js"></script>
    <!-- Malihu Scrollbar-->
    <script type="text/javascript" src="javascript/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Animo.js-->
    <script type="text/javascript" src="javascript/animo.min.js"></script>
    <!-- Bootstrap Progressbar-->
    <script type="text/javascript" src="javascript/bootstrap-progressbar.min.js"></script>
    <!-- Toastr-->
    <script type="text/javascript" src="javascript/toastr.min.js"></script>
    <!-- MomentJS-->
    <script type="text/javascript" src="javascript/moment.min.js"></script>
    <!-- jQuery BlockUI-->
    <script type="text/javascript" src="javascript/jquery.blockUI.js"></script>
    <!-- jQuery Counter Up-->
    <script type="text/javascript" src="javascript/waypoints.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.counterup.min.js"></script>

    <!-- jQuery Easy Pie Chart-->
    <script type="text/javascript" src="javascript/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>

    <!-- Flot Charts--> 
    <!--[if lte IE 8]>
    <script type="text/javascript" src="https://raw.githubusercontent.com/flot/flot/master/excanvas.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="javascript/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="javascript/flot/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="javascript/curvedLines.js"></script>
    <script type="text/javascript" src="javascript/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <!-- Morris Chart-->
    <script type="text/javascript" src="javascript/raphael-min.js"></script>
    <!-- DataTables-->
    <script type="text/javascript" src="javascript/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="javascript/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="javascript/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="javascript/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script type="text/javascript" src="javascript/jszip/dist/jszip.min.js"></script>
    <script type="text/javascript" src="javascript/pdfmake/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="javascript/pdfmake/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="javascript/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="javascript/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="javascript/datatables.net-colreorder/js/dataTables.colReorder.min.js"></script>

    <script type="text/javascript" src="javascript/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="javascript/responsive.bootstrap.js"></script>
    <!-- jQuery UI-->
    <script type="text/javascript" src="javascript/jquery-ui.min.js"></script>
    <!-- jQuery MiniColors-->
    <script type="text/javascript" src="javascript/jquery.minicolors.min.js"></script>
    <!-- Bootstrap Date Range Picker-->
    <script type="text/javascript" src="javascript/daterangepicker.js"></script>

    <script src="javascript/sweetalert.min.js"></script>
    
    <!-- jQuery Steps-->
    <script type="text/javascript" src="javascript/jquery.steps.min.js"></script>
    
    <!-- Spectrum-->
    <script type="text/javascript" src="colorpicker/dist/js/bootstrap-colorpicker.js"></script>

    <!-- Owl Carousel-->
    <script type="text/javascript" src="owl.carousel/dist/owl.carousel.min.js"></script>

    <!-- Custom JS-->
    <script type="text/javascript" src="javascript/demo.js"></script>
    <script type="text/javascript" src="javascript/app.js"></script>
    <script type="text/javascript" src="javascript/index.js"></script>
    <script type="text/javascript" src="javascript/TeamManager.js"></script>
    <script type="text/javascript" src="javascript/ProductManager.js"></script>
    <script type="text/javascript" src="javascript/carousels.js"></script>
    
    <!-- jQuery Validation-->
    <script type="text/javascript" src="javascript/jquery.validate.min.js"></script>
    <script type="text/javascript" src="javascript/additional-methods.min.js"></script>

    <script type="text/javascript" src="javascript/jquery-steps.js"></script>

     <!-- DropzoneJS-->
    <script type="text/javascript" src="javascript/dropzone/dist/min/dropzone.min.js"></script>
    <script type="text/javascript" src="javascript/dropzone-js.js"></script>

  </body>
</html>